section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3% 0;
    
}

section img {
    max-height: 230px;
}

@media (max-width: 375px) {
    section img {
        max-height: 100px;
        margin-top: 90px;
    }

    .textExplication {
        font-size: 15px;
    }
}