<section>
    <img [src]="imagesrc">
</section>
<section>
    <div class = "textExplication">
        La gestion de projet est une démarche visant à organiser de bout en bout le bon déroulement d’un projet. C'est tout l'opérationnel et le tactique qui font qu'un projet aboutit dans un triangle représentant l'équilibre qualité-coût-délai. <a href="https://fr.wikipedia.org/wiki/Gestion_de_projet"> Pour plus d'infos </a>
    </div>
</section>
<div>
    <app-api-youtube searchVideo="Symfony 4"></app-api-youtube>
</div>