section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
    
}

section img {
    max-height: 150px;
}

.textExplication {
    font-size: 20px;
}

@media (max-width: 320px) {
    section img {
        max-height: 70px;
    }
}