<section class="imgLogo">
    <img [src]="imagesrc">
</section>
<section class="explications">
    <div class = "textExplication">
        <span>Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP. Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web. <a href="https://fr.wikipedia.org/wiki/Symfony"> Pour plus d'infos </a></span>
    </div>
</section>
<div>
    <app-api-youtube searchVideo="Symfony4"></app-api-youtube>
</div>