
    <!-- <app-api-youtube-form-update playlist=''></app-api-youtube-form-update> -->
    <!-- <h3>Modification de la playlist : </h3> -->
    <!-- <div *ngFor="let playlist of playlistForm">  
       
        <span>{{ playlist.snippet.title }} vues</span>
    </div> -->
    <!-- <form id="FormUpdatePlaylist" class="form-group" >
    
      <label for="title">Titre de la playlist :</label><br>
      <input type="text" placeholder=""  name="title" id="title" [(ngModel)]="title" class="col-4"><br>
      <label for="description">Description de la playlist :</label><br>
      <textarea class="form-control" rows="5" name="desciption" placeholder="Description" id="description" [(ngModel)]="descriptionModel" class="col-6"></textarea><br>
      <label for="tags">Tags de la playlist :</label><br>
      <input type="text" placeholder="Tags" name="tags" rows="3" id="tags" [(ngModel)]="tagsModel" class="col-6"><br>
      <label for="status">Statut de la playlist:</label><br>
      <select name="dropdownStatus" id="status" name="status" [(ngModel)]="statusModel">
        <option value = "private" >Privée</option>
        <option value = "public" selected="selected">Public</option>
        <option value = "unlisted">Non répertoriée</option>
      </select>
      
    
    <button class="btn btn-success" (click)="updatePlaylist()" >Modifier </button>
    <button class="btn btn-danger" routerLink="/playlists"  routerLinkActive="active">Retour</button>
  </form> -->
  <!-- (click)="updatePlaylist(playlistForm.id)" -->
