<header>
  <a routerLink="/" id="accueil" routerLinkActive="active"><img class="logo" [src]="imagesrc"></a>
  <ul>
    <li><a routerLink="/symfony" id="symfony" routerLinkActive="active" >Symfony 4</a></li>
    <li><a routerLink="/angular" id="angular" routerLinkActive="active">Angular</a></li>
    <li><a routerLink="/designUXUI" id="uxui" routerLinkActive="active">Design UX/UI</a></li>
    <li><a routerLink="/gestionDeProjet" id="projet" routerLinkActive="active">Gestion de projet</a></li>
    <li><a routerLink="/integration" id="integration" routerLinkActive="active">Intégration</a></li>
    
    <li class="nav-item" *ngIf='isLogged()'>
      <a class="nav-link" routerLink="/playlists" id="playlists" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Playlists</a>
    </li>

  </ul>

  <div class="connected" *ngIf="isLogged()">
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="imgUser"[src]="user.w3.Paa">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown">
          <a class="nav-link" href="#">Paramètres</a>
          <a class="nav-link" href="#" (click)="disconnect()">Déconnexion</a>
        </div>
    </li>
  </div>
    <div class="con">
    <a class="nav-link" id="connexion" (click)="signIn()" *ngIf="!isLogged()"><i class="fas fa-user-circle"></i>Connexion</a>
    </div>

    
   
  
    
</header> 

