<header class="PcFirst">
  <a routerLink="/" routerLinkActive="active"><img class="logo" [src]="imagesrc"></a>
  <ul>
    <li><a routerLink="/symfony" routerLinkActive="active" >Symfony 4</a></li>
    <li><a routerLink="/angular" routerLinkActive="active">Angular</a></li>
    <li><a routerLink="/designUXUI" routerLinkActive="active">Design UX/UI</a></li>
    <li><a routerLink="/gestionDeProjet" routerLinkActive="active">Gestion de projet</a></li>
    <li><a routerLink="/integration" routerLinkActive="active">Intégration</a></li>
    <li><a routerLink="/playlists" routerLinkActive="active">Playlists</a></li>

    <!-- <li class="nav-item">
      <a class="nav-link" (click)="signin()" *ngIf="!isLogged()">Connexion</a>
    </li> -->

  </ul>
  <!-- <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="#" (click)="signin()" *ngIf="!isLogged()"><i class="fas fa-user-alt"></i> Connexion</a></li>
  </ul>


  <div class="connected" *ngIf="isLogged()">
      <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="account-img">
              <img [src]="user.w3.Paa">
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="#">Paramètres</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="#" (click)="disconnect()">Déconnexion</a>
          </div>
      </li>
    </div> -->
    
    <button class="nav-link" (click)="signIn()" *ngIf="!isLogged()">Connexion</button>
</header>

<header class="MobileFirst">
  <nav role="navigation" class="menu-mobile">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->

        <ul id="menu">
          <a routerLink="/symfony" routerLinkActive="active"><li>Symfony</li></a>
          <a routerLink="/angular" routerLinkActive="active"><li>Angular</li></a>
          <a routerLink="/designUXUI" routerLinkActive="active"><li>Design UX/UI</li></a>
          <a routerLink="/gestionDeProjet" routerLinkActive="active"><li>Gestion de projet</li></a>
          <a routerLink="/integration" routerLinkActive="active"><li>Intégration</li></a>
          <a routerLink="/playlists" routerLinkActive="active"><li>Playlists</li></a>
        </ul>
    </div>
  </nav>
    
  <i class="fas fa-door-open fa-2x" id="icon" (click)="signIn()" *ngIf="!isLogged()"></i>
</header>


