.ng-template{
    display: flex;
    justify-content: center;
}

.fa-search{
    margin-bottom: 10px;
}

@media (min-width: 376px) {  


    .pcFirst{
        display: flex;
        justify-content: center;
    }

    .mobileFirst{
        display: none;
    }

    #loaderPourPC{
        height: 500px;
    }


    .searchBar{
        padding-bottom: 2%;
    }
    .paginationTop{
        padding-bottom: 2%;
        display: flex;
        justify-content: space-between;

    }

    .row{
        margin : 0px 5px 0px;
    }

    .btn-video-Top{
        margin-top:40px;
        margin-right: 20px;
        margin-left: 20px;
        float: left;
        border: 2px solid rgb(138, 24, 24);
        padding: 0% 1% 0%;
        height: 36px;
        border-radius: 5px;
        outline: none;
        color: white;
        background-color: rgb(138, 24, 24);
        font-family: Roboto;
    }

    .btn-video-Bot{
        margin-right: 20px;
        margin-left: 20px;
        float: left;
        border: 2px solid rgb(138, 24, 24);
        padding: 0% 1% 0%;
        height: 36px;
        border-radius: 5px;
        outline: none;
        color: white;
        background-color: rgb(138, 24, 24);
        font-family: Roboto;
    }

    .col-6{
        margin-bottom: 40px;
    }

    .maSearchBar{
        position: absolute;
    }

    .input-group{
        justify-content: center;
    }

    .searchButton{
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid rgb(138, 24, 24);
    background: rgb(138, 24, 24);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    }

    .search-bar{
        float: left;
        width : 500px;;
        border: 2px solid rgb(138, 24, 24);
        padding: 0 0 0 14px;
        height: 36px;
        border-radius: 5px 0 0 5px;;
        outline: none;
        color: rgb(138, 24, 24);
    }

    .paginationBot{
        padding-bottom: 3%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .card-img-top{
        height: 500px;
    }
    .card{
        cursor: pointer;
    }

    .fas{
        color: rgb(255, 255, 255);
    }
    .material-icons{
        color: rgb(138, 24, 24);
        font-size: 150%;
        padding-top: 2%;
    }
    .card-header{
        font-size: 1.5em;
        height: 114px;
    }
    .blockquote{
        font-size: 1em;
        height: 114px;
    }
}

@media (max-width: 375px) {

    .mobileFirst{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pcFirst{
        display: none;
    }

    #loaderPourMobile{
        display:flex;
        justify-content: center;
        height: 100px;
    }
    
    .searchBar{
        padding-bottom: 2%;
    }
    .paginationTop{
        padding-bottom: 4%;
        display: flex;
        justify-content: space-between;
    
    }
    
    .row{
        margin : 0px 5px 0px;
        max-width: 335px;
    }
    
    .btn-video-Top{
        margin-top:20px;
        margin-right: 20px;
        margin-left: 20px;
        width: 30px;
        float: left;
        border: 2px solid rgb(138, 24, 24);
        padding: 0% 1% 0%;
        height: 36px;
        border-radius: 5px;
        outline: none;
        color: white;
        background-color: rgb(138, 24, 24);
        font-family: Roboto;
    }
    
    .btn-video-Bot{
        margin-right: 20px;
        margin-left: 20px;
        margin-top:20px;
        margin-bottom:10px;
        width: 30px;
        float: left;
        border: 2px solid rgb(138, 24, 24);
        padding: 0% 1% 0%;
        height: 36px;
        border-radius: 5px;
        outline: none;
        color: white;
        background-color: rgb(138, 24, 24);
        font-family: Roboto;
    }
    
    

    .col-12{
        margin-bottom: 40px;
    }
    
    .maSearchBar{
        position: absolute;
    }
    
    .input-group{
        justify-content: center;
    }
    
    .searchButton{
      right: -50px;
      width: 40px;
      height: 36px;
      border: 1px solid rgb(138, 24, 24);
      background: rgb(138, 24, 24);
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    .search-bar{
        float: left;
        width : 250px;
        border: 2px solid rgb(138, 24, 24);
        padding: 0 0 0 14px;
        height: 36px;
        border-radius: 5px 0 0 5px;;
        outline: none;
        color: rgb(138, 24, 24);
    }
    
    .paginationBot{
        padding-bottom: 3%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .card{
        cursor: pointer;
    }
    
    .fas{
        color: rgb(255, 255, 255);
    }
    .material-icons{
        color: rgb(138, 24, 24);
        font-size: 150%;
        padding-top: 2%;
    }
    .card-header{
        font-size: 1em;
        height: 114px;
    }
    .blockquote{
        font-size: 1em;
        height: 114px;
    }

}

