<!-- <div class="form">
  <app-api-youtube-form-update playlist= playlistForm></app-api-youtube-form-update>
</div> -->
<div class="form">
  <div class="formUpdate" class="col-6">
    <h1>Modification : </h1>
   
    <form id="FormUpdatePlaylist" class="form-group" >
      <div>
          <label for="title">Titre de la playlist :</label><br>
          <input type="text" placeholder="Titre"  name="title" id="title" [(ngModel)]="title" class="form-control"><br>
      </div>
      
    <div>
      <label for="description">Description de la playlist :</label><br>
      <textarea class="form-control"  name="desciption" rows="5" id="description"  placeholder="Description"  [(ngModel)]="description"></textarea><br>
    </div>
    <div>
      <label for="tags">Tags de la playlist :</label><br>
      <textarea  placeholder="Tags" name="tags" [(ngModel)]="tags" rows="2" class="form-control"></textarea><br>
    </div>
    <div>
      <label for="status">Statut de la playlist: (public par défaut)</label><br>
      <select name="dropdownStatus" class="form-control" id="status" name="status" [(ngModel)]="status">
        <option value = "public">Public</option>
        <option value = "private" >Privée</option>
        <option value = "unlisted">Non répertoriée</option>
      </select>
    </div>
    <div class="button">
        <button class="btn btn-success" (click)="updatePlaylist()" >Modifier </button>
    </div>
      
    </form>
  </div>
</div>

<div class="form-mobile">
    <div class="formUpdate" class="col-12">
      <h1>Modification  </h1>
     
      <form id="FormUpdatePlaylist" class="form-group" >
        <div>
            <label for="title">Titre de la playlist :</label><br>
            <input type="text" placeholder="Titre"  name="title" id="title" [(ngModel)]="title" class="form-control"><br>
        </div>
        
      <div>
        <label for="description">Description de la playlist :</label><br>
        <textarea class="form-control"  name="desciption" rows="5" id="description"  placeholder="Description"  [(ngModel)]="description"></textarea><br>
      </div>
      <div>
        <label for="tags">Tags de la playlist :</label><br>
        <textarea  placeholder="Tags" name="tags" [(ngModel)]="tags" rows="2" class="form-control"></textarea><br>
      </div>
      <div>
        <label for="status">Statut de la playlist: (public par défaut)</label><br>
        <select name="dropdownStatus" class="form-control" id="status" name="status" [(ngModel)]="status">
          <option value = "public">Public</option>
          <option value = "private" >Privée</option>
          <option value = "unlisted">Non répertoriée</option>
        </select>
      </div>
      <div class="button">
          <button class="btn btn-success" (click)="updatePlaylist()" >Modifier </button>
      </div>
        
      </form>
    </div>
  </div>
  <!-- (click)="updatePlaylist(playlistForm.id)" -->
