<section class="logo">
    <img [src]="imagesrc">
</section>
<section>
    <div class = "textExplication">
        L’UX prend en compte les attentes et les besoins de l’internaute pour l’amener à concrétiser son action, le tout sans trop d’effort et dans un environnement agréable, fluide, rassurant.
    </div>
    <div class = "textExplication">
        L’UI intervient plusieurs fois dans ce processus. Il s’agit effectivement de proposer une jolie enveloppe et donc de créer un design fonctionnel, qui inspire confiance et qui permette à l’utilisateur d’arriver à son but. <a href="http://blog.lunaweb.fr/ux-ui-experience-utilisateur-interface/"> Pour plus d'infos </a>
    </div>
  </section>