section.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
    color: red;
    
}

section img {
    max-height: 230px;
}

.textExplication {
    padding: 0 4%;
    padding-bottom: 2%;
    font-size: 20px;
}

@media (max-width: 375px) {
    section img {
        max-height: 100px;
        margin-top: 90px;
    }

    .textExplication {
        font-size: 15px;
    }
}