@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "KeepCalm";
    src: url("/assets/fonts/KeepCalm-Medium.ttf");
}

@media (min-width: 376px) {

    .mobileFirst{
        display: none;
    }

    .e2e-iframe-trusted-sr{
        height: 610px;
        width: 83%;
    }

    .main{
        padding: 3%;
        text-align: center;
    }

    #lirelasuite {
        display:none;
        margin-top: 20px;
        margin-right: 170px;
    }

    a.lirelasuite{
        cursor: pointer;
    }

    .description{
        text-decoration: underline;
    }

    h4{
        margin-bottom: 50px;
        font-size: 25px;
    }

    .vues{
        font-family: KeepCalm;
        font-size: 20px;
    }

    .counter{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    #desc{
        display: flex;
        align-items: flex-start;
        margin-left: 117px;
    }

    #titleDesc{
        font-family: KeepCalm;
        font-size: 20px;
    }

    .LikeDislike{
        WIDTH: 368px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 375px) {


    .pcFirst{
        display: none;
    }

    .main{
        padding: 3%;
        text-align: center;
    }
    
    #descMobile {
        display:none;
        margin-top: 10px;
    }
    
    a.clicMobile{
        cursor: pointer;
        font-size: 13px;
    }
    
    .description{
        text-decoration: underline;
    }
    
    h4{
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    
    .vues{
        font-family: KeepCalm;
        font-size: 10px;
    }
    
    .counter{
        display: flex;
        margin: 0px 5px;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    @media (min-height: 640px) {
        #desc{
            display: flex;
            align-items: flex-start;
            margin-left: 5px;
            margin-bottom: 200px;
        }
    }

    @media (min-height: 812px) {
        #desc{
            display: flex;
            align-items: flex-start;
            margin-left: 5px;
            margin-bottom: 352px;
        }
    }
    
    
    #titleDesc{
        font-family: KeepCalm;
        font-size: 13px;
    }
    
    .LikeDislike{
        display: flex;
        justify-content: space-between;
        margin: 0px 11px;
    }

    #maDesc{
        display: flex;
    }

}
