<section class="pcFirst">
    <div class="leLogo">
            <img class="logo" [src]="imageLogo">
    </div>
    <div class = "textExplication">
        WatchCode est un projet Angular vous permettant d'accéder à la documentation vidéo des différentes technologies et principes vus en Licence 3ème année.
        Ce projet a été développé par DUROYON Maxime et VIGNI Lucas.
    </div>
</section>

<section class="mobileFirst">
    <div class="leLogo">
            <img class="logo" [src]="imageLogo">
    </div>
    <div class = "textExplication">
        WatchCode est un projet Angular vous permettant d'accéder à la documentation vidéo des différentes technologies et principes vus en Licence 3ème année.
        Ce projet a été développé par DUROYON Maxime et VIGNI Lucas.
    </div>
</section>
