
@media (min-width: 376px) {

    .mobileFirst{
        display: none;
    }

    .textExplication {
        font-size: 20px;
        margin: 0px 4%;
    }

    .logo{
        height: 200px;
        margin: 60px 0px;
    }

    .leLogo{
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 375px) {

    .pcFirst{
        display: none;
    }

    .textExplication {
        font-size: 20px;
    }

    .logo{
        height: 70px;
        margin: 122px 0px 35px 0px;
    }

    .leLogo{
        display: flex;
        justify-content: center;
    }
}